.not-found {
  position: relative;
  min-height: calc(100vh - 172px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.not-found__text {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 140px;
  font-weight: 400;
}

.not-found__title {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding-top: 15px;
}

.not-found__button {
  position: absolute;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #3456F3;
  text-decoration: none;
  text-align: end;
  bottom: 40px;
  opacity: 1;
  transition: opacity .2s linear;
}

.not-found__button:hover {
  opacity: .7;
}

@media screen and (max-width: 768px) {
  .not-found__button {
    bottom: 135px;
  }

  .not-found {
    max-width: 400px;
    margin: auto;
    height: 100vh;
    margin-top: calc(10vh);
  }
}

@media screen and (max-width: 470px) {
  .not-found {
    max-width: 400px;
    height: 100vh;
    margin-top: 0;
  }

  .not-found__text {
    font-size: 80px;
  }

  .not-found__title {
    font-size: 12px;
  }

  .not-found__button {
    bottom: 30px;
    font-size: 12px;
  }
}
