.footer {
  box-sizing: border-box;
  max-width: 1280px;
  padding: 0 70px;
  margin: 0 auto;
}

.footer__desc {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  color: #A0A0A0;
  padding-top: 78px;
  padding-bottom: 25px;
  text-align: center;
  border-bottom: 1px solid #E8E8E8;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.footer__copyright {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__link {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  opacity: 1;
  transition: opacity .2s linear;
  color: #000;
}

.footer__link:hover {
  opacity: .7;
}

.footer__link:visited {
  color: #000;
}
.footer__link:active {
  color: #000;
}

@media screen and (max-width: 860px) {
  .footer {
    padding: 0 50px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 30px;
  }

  .footer__desc {
    padding-bottom: 17px;
  }

  .footer__wrap {
    padding-top: 8px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    padding: 0 30px;
  }
}


@media screen and (max-width: 320px) {
  .footer {
    padding: 14px 14px 20px;
  }

  .footer__desc {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 21px;
  }

  .footer__wrap {

    margin-top: 70px;
    flex-direction: column-reverse;
  }

  .footer__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
  }

  .footer__link {
    font-size: 12px;
  }

  .footer__copyright {
    font-size: 12px;
  }

}
